In [1]:
#Used Libraries
import pandas as pd

In [2]:
#Loading raw_data
raw_data=pd.read_csv("Amazon Sale Report.csv")
raw_data.head(10)

C:\Users\gayth\AppData\Local\Temp\ipykernel_28524\3409123851.py:2: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data=pd.read_csv("Amazon Sale Report.csv")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
5,5,404-1490984-4578765,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET264,SET264-KR-NP-XL,Set,...,INR,824.00,GHAZIABAD,UTTAR PRADESH,201102.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
6,6,408-5748499-6859555,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0095,J0095-SET-L,Set,...,INR,653.00,CHANDIGARH,CHANDIGARH,160036.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
7,7,406-7807733-3785945,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-S,kurta,...,INR,399.00,HYDERABAD,TELANGANA,500032.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
8,8,407-5443024-5233168,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,SET200,SET200-KR-NP-A-XXXL,Set,...,NaN,NaN,HYDERABAD,TELANGANA,500008.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
9,9,402-4393761-0311520,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3461,JNE3461-KR-XXL,kurta,...,INR,363.00,Chennai,TAMIL NADU,600041.0,IN,NaN,False,NaN,NaN

In [3]:
#checking nan values
raw_data.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [4]:
raw_data.shape

(128975, 24)

In [5]:
#Removing dolumns we don't need in our analysis
new_data=raw_data.drop(columns=["SKU","ASIN","ship-postal-code", "promotion-ids", "fulfilled-by", "Unnamed: 22"])

In [6]:
new_data.isnull().sum()

index                    0
Order ID                 0
Date                     0
Status                   0
Fulfilment               0
Sales Channel            0
ship-service-level       0
Style                    0
Category                 0
Size                     0
Courier Status        6872
Qty                      0
currency              7795
Amount                7795
ship-city               33
ship-state              33
ship-country            33
B2B                      0
dtype: int64

In [7]:
new_data["ship-country"].unique()

array(['IN', nan], dtype=object)

In [8]:
#The dataset shows the Amazon sales repost in India. ship-country contains India (IN) only so we can drop it
new_data=new_data.drop(columns=["ship-country"])

In [9]:
new_data["currency"].unique()

array(['INR', nan], dtype=object)

In [10]:
#We can also drop the currecny because it's about the Indian currency only
new_data=new_data.drop(columns=["currency"])

In [11]:
#dealing with missing values
new_data=new_data.dropna(subset=['Courier Status'])

In [12]:
new_data.isnull().sum()

index                    0
Order ID                 0
Date                     0
Status                   0
Fulfilment               0
Sales Channel            0
ship-service-level       0
Style                    0
Category                 0
Size                     0
Courier Status           0
Qty                      0
Amount                6059
ship-city               30
ship-state              30
B2B                      0
dtype: int64

In [13]:
new_data=new_data.dropna(subset=["ship-city","ship-state"])

In [14]:
new_data.isnull().sum()

index                    0
Order ID                 0
Date                     0
Status                   0
Fulfilment               0
Sales Channel            0
ship-service-level       0
Style                    0
Category                 0
Size                     0
Courier Status           0
Qty                      0
Amount                6057
ship-city                0
ship-state               0
B2B                      0
dtype: int64

In [15]:
#filling Amount missing values with the mean value to not affect the overall data measurements
Mean=new_data["Amount"].mean()
Mean

649.7808491932147

In [16]:
new_data["Amount"]=new_data["Amount"].fillna(Mean)

In [17]:
new_data["Amount"].mean()

649.7808491932147

In [18]:
new_data.isnull().sum()

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
Category              0
Size                  0
Courier Status        0
Qty                   0
Amount                0
ship-city             0
ship-state            0
B2B                   0
dtype: int64

In [19]:
new_data.shape

(122073, 16)

In [20]:
#We have filled the Amount missing values with keeping the same mean value

In [21]:
new_data.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,Category,Size,Courier Status,Qty,Amount,ship-city,ship-state,B2B
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,kurta,3XL,Shipped,1,406.0,BENGALURU,KARNATAKA,False
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,kurta,XL,Shipped,1,329.0,NAVI MUMBAI,MAHARASHTRA,True
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,Top,3XL,Shipped,1,574.0,CHENNAI,TAMIL NADU,False
5,5,404-1490984-4578765,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET264,Set,XL,Shipped,1,824.0,GHAZIABAD,UTTAR PRADESH,False
6,6,408-5748499-6859555,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0095,Set,L,Shipped,1,653.0,CHANDIGARH,CHANDIGARH,False

In [22]:
new_data.reset_index(drop=True,inplace=True)

In [23]:
new_data.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,Category,Size,Courier Status,Qty,Amount,ship-city,ship-state,B2B
0,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,kurta,3XL,Shipped,1,406.0,BENGALURU,KARNATAKA,False
1,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,kurta,XL,Shipped,1,329.0,NAVI MUMBAI,MAHARASHTRA,True
2,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,Top,3XL,Shipped,1,574.0,CHENNAI,TAMIL NADU,False
3,5,404-1490984-4578765,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET264,Set,XL,Shipped,1,824.0,GHAZIABAD,UTTAR PRADESH,False
4,6,408-5748499-6859555,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0095,Set,L,Shipped,1,653.0,CHANDIGARH,CHANDIGARH,False

In [24]:
new_data.drop(columns=["index"],inplace=True)

In [25]:
new_data.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,Category,Size,Courier Status,Qty,Amount,ship-city,ship-state,B2B
0,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,kurta,3XL,Shipped,1,406.0,BENGALURU,KARNATAKA,False
1,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,kurta,XL,Shipped,1,329.0,NAVI MUMBAI,MAHARASHTRA,True
2,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,Top,3XL,Shipped,1,574.0,CHENNAI,TAMIL NADU,False
3,404-1490984-4578765,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET264,Set,XL,Shipped,1,824.0,GHAZIABAD,UTTAR PRADESH,False
4,408-5748499-6859555,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0095,Set,L,Shipped,1,653.0,CHANDIGARH,CHANDIGARH,False

In [54]:
#Saving our dataset
data=new_data.copy()
data.to_csv("Amazon_Data.csv",index=False)

In [76]:
sum(data["B2B"].values==True)

848